:root{
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }

    html{
        font-family: var(--base-font);
    }

    a{
        text-decoration: none;
        color:inherit;
        font-family: inherit;
    }

    ul,ol{
        list-style-type: none;
    }
  

}